body{
  font-family: monospace;
  margin: 0;
  color: whitesmoke;
  background-image: url("https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/PedroPinhata/phpm9PJli.png");

  
  }

.navbar{
  display: flex;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.2rem;
  justify-content: space-between;
  align-items: center;
  margin: 12.5px 5% ;
  margin-left: 7%;
}

.navlinks{
  display: flex;
  justify-content: flex-start;
  
}

.navlinks img{
  margin-left: -3%;
  align-items: center;
  width: 15%;
}

.links{
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.activenavlink{
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: auto 15px auto 25px;
  font-size: 1.25rem;
}

.navlink{
  text-decoration: none;
  color: rgb(56, 109, 51);  
  margin: auto 15px auto 25px;

}

.nav{
  border-bottom: 1px solid rgb(135, 207, 95);
}

